/vendor/
node_modules/
npm-debug.log
yarn-error.log

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
public/storage
public/hot

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot

storage/*.key
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache

.DS_Store
.idea
__docs
*.xml
*.iml
index.madeline.ipcState.php
index.madeline.safe.php
MadelineProto.log
public/index.madeline.ipcState.php
public/index.madeline.safe.php
public/MadelineProto.log
README.md
.idea/php.xml
.idea/ba_apart.iml
.env.example
.gitattributes
.idea/ba_apart.iml
.idea/php.xml
index.madeline.ipcState.php
index.madeline.safe.php
MadelineProto.log
public/index.madeline.ipcState.php
public/index.madeline.safe.php
public/MadelineProto.log
.gitattributes
.idea/ba_apart.iml
.idea/php.xml
index.madeline.ipcState.php
index.madeline.safe.php
MadelineProto.log
public/index.madeline.ipcState.php
public/index.madeline.safe.php
public/MadelineProto.log
*.log
index.madeline.ipcState.php
index.madeline.safe.php
MadelineProto.log
public/index.madeline.ipcState.php
public/index.madeline.safe.php
public/MadelineProto.log
